<div  class="lowerBar">
<a class="link" href="/profile">Profile</a>
<a class="link" href="/logout">logout</a>
</div>

<h3>edit outfit</h3>
<form action="/outfit/{{id}}/edit" method="post">
  <select name="top">
    {{#each pieces.top}}
      <option name="top" value='{{name}}'>{{name}}</option>
    {{/each}}
  </select>
   <select name="bottom">
    {{#each pieces.bottom}}
      <option name="top" value='{{name}}'>{{name}}</option>
    {{/each}}
  </select>
   <select name="shoes">
    {{#each pieces.shoes}}
      <option name="top" value='{{name}}'>{{name}}</option>
    {{/each}}
  </select>
  <button type="submit">update</button>
</form> 