<section class="body">
    <nav class="nav-bar">
    <a class="vogue" href="/"><h1>VogueVibes</h1></a>
    </nav>
    <nav class="under-nav-bar">
        <a class="link" href="/outfit/search">search</a>
        <p>|</p>
        <a class="link" href="/outfit/create">create</a>
        <p>|</p>
        <a class="link" href="/logout">logout</a>
    </nav>
    <section >
        <div class="collection-page">

            <div class="profile-phrase">
                <h2>{{user.username}}</h2><p>'s collections:</p>
            </div>
            <div class="collection-grid">
                {{#each collection}}
                    <section class="outfit-section glassBackground">
                        <div class="outfit-sample">
                            <div>
                                <img class="outfit-image" src="{{top.imageUrl}}" alt="Top image">
                            </div>
                            <div>
                                <img class="outfit-image" src="{{bottom.imageUrl}}" alt="Bottom image">
                            </div>
                            <div>
                                <img class="outfit-image-shoes" src="{{shoes.imageUrl}}" alt="Shoes image">
                            </div>
                        </div>
                        <div class="collection-buttons">
                            <a class="collectionButton" href="/outfit/{{id}}/preview">Preview</a>
                            <a class="collectionButton" href="/outfit/{{id}}/edit">Edit</a>
                            <form action="/outfit/{{id}}/delete" method="post">
                                <button class="extra collectionButton" type="submit">Delete</button>
                            </form>
                        </div>
                    </section>
                {{/each}}
            </div>
        </div>
    </section>
</section>
